# gradle

\.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*/.idea/
*/build/
*/out/
*/classes/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# fabric
run/

# where half puts :woman_mage: mods
tpsgobrr/

# just in case weird things happen
logs/
*/desktop.ini

\.cache/
gource-captions.txt
